        <div class="container col-xxl-6 col-xl-6 col-lg-6 col-md-8 col-sm-8">
            <h1 class="text-center formPadding">Ingresa un producto nuevo</h1>
            <div class="container">
                <!-- <form action="/api/productos/guardar" method="POST"> -->
                    <div class="mb-3">
                        <label for="title" class="form-label fw-bold">Titulo</label>
                        <input type="text" id="productTitle" name="title" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label fw-bold">Precio</label>
                        <input type="text" id="productPrice" name="price" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label for="thumbnail" class="form-label fw-bold">Preview</label>
                        <input type="text" id="productThumbnail" name="thumbnail" class="form-control" />
                    </div>
                    <div class="col text-center">
                        <input type="submit" class="btn btn-success" onclick="sendProd()" value="Cargar Producto" />
                    </div>
                <!-- </form> -->
            </div>
        </div>
        <div class="container">
            <!-- dejo la parte de ejs xq venia en el anterior (a pesar que esta trayendo el item del endpoint, en vez del de ws (que nota al pie, no pude hacer que se comuniquen :facepalm:)) -->
            <% if (cant){ %>
            <table class="table table-responsive text-center" id="prodsTable">
                <tr>
                    <td class="fw-bold">Nombre</td>
                    <td class="fw-bold">Precio</td>
                    <td class="fw-bold">Preview</td>
                </tr>
                <% productos._items.map(function(item){ %>
                <tr>
                    <td><%= item.title %></td>
                    <td>$<%= item.price %></td>
                    <td><img class="thumb" src="<%= item.thumbnail %>" /></td>
                </tr>
                <% }); %>
            </table>
            <% }else{ %>
            <h2>No hay productos!</h2>
            <% } %>
        </div>
        <script src="/socket.io/socket.io.js"></script>
        <script src="../../public/ws_main.js"></script>
        <script>
            const sendProd = () => socket.emit("add_prods", {
                    title: document.querySelector("#productTitle").value,
                    price: document.querySelector("#productPrice").value,
                    thumbnail: document.querySelector("#productThumbnail").value,
                });
        </script>
